<!--footer start-->
<footer class="footer">
         <div class="container">
             <div class="row">
                 <div class="col-lg-3 col-sm-3">
                     <h1>contact info</h1>
                     <address>
                         <p>Address: 清华大学计算机系</p>
                         <p>海淀区，北京</p>
                         <p>Email : <a href="javascript:;">bangtech#sina.com</a></p>
                     </address>
                 </div>
                 <div class="col-lg-5 col-sm-5">
                     <h1>latest tweet</h1>
                     More Templates
                 </div>
                 <div class="col-lg-3 col-sm-3 col-lg-offset-1">
                     <h1>stay connected</h1>
                     <ul class="social-link-footer list-unstyled">
                         <!--<li><a href="#"><i class="icon-facebook"></i></a></li>
                         <li><a href="#"><i class="icon-google-plus"></i></a></li>
                         <li><a href="#"><i class="icon-dribbble"></i></a></li>
                         <li><a href="#"><i class="icon-linkedin"></i></a></li>
                         <li><a href="#"><i class="icon-twitter"></i></a></li>
                         <li><a href="#"><i class="icon-skype"></i></a></li>

                         <li><a href="#"><i class="icon-youtube"></i></a></li>-->
                         <li><a href="https://github.com/ShenDezhou"><i class="icon-github"></i></a></li>
                     </ul>
                 </div>
             </div>
         </div>
     </footer>
<!--footer end-->